{# vim:set softtabstop=2: -#}
<!DOCTYPE html>
<html>
  <head>
    <!-- needed for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content="Bitbeam construction kit parts catalog" lang="en" name="description" property="og:description">
    <meta content="Bitbeam catalog" name="og:title" property="og:title">
    <meta content="Bitbeam catalog" name="twitter:title" property="twitter:title">
    <meta content="website" name="og:type" property="og:type">
    <meta content="https://catalog.bitbeam.cc/png/bb-h-5x3.png" name="og:image" property="og:image">
    <meta content="summary" name="twitter:card" property="twitter:card">
    <meta content="@mcbig_cz" name="twitter:creator" property="twitter:creator">
    <meta content="bitbeam m-bitbeam catalog list parts construction kit steam" name="keywords">
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/custom.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">

        <a class="navbar-brand" page="catalog" href="https://bitbeam.cc"><big>BITBEAM</big></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://bitbeam.cc/en/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://bitbeam.cc/en/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" page="catalog" href="/#">Catalog</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {{ 'active' if page == 'api' else '' }}" page="api" href="/api">API</a>
            </li>
          </ul>
        </div>
      </div><!-- container -->
    </nav>
