{# vim:set softtabstop=2: -#}
<!DOCTYPE html>
<html>
  <head>
    <!-- needed for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/custom.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">

        <a class="navbar-brand" page="catalog" href="/#"><big>m-BITBEAM</big></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" page="catalog" href="/#catalog">Catalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" page="about" href="/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if page == 'licence' else '' }}" page="licence" href="/licence">Licence</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if page == 'api' else '' }}" page="api" href="/api">API</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li>
              <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/m-Bitbeam/m-bitbeam"><i class="fa fa-github"></i> GitHub</a>
            </li>
          </ul>
        </div>
      </div><!-- container -->
    </nav>
