{# vim:set softtabstop=2: -#}
{% set page = "" %}
{% include("_header.html") %}
    <div class="container wrap">
      <div class="row" id="catalog_page" style="display: none;">
        <div class="col-2 sidenav">
          <nav class="nav flex-column nav-pills" prop="categories">
          </nav>
          <nav class="nav flex-column nav-pills" prop="links">
            Download
            <a class="nav-link" href="/data/bitbeam-stl-{{ version }}.zip">STL files</a>
            <a class="nav-link" href="/data/bitbeam-parts-{{ version }}.zip">LDraw files</a>
          </nav>
        </div>

        <div class="col">
          <div class="clearfix" prop="parts"></div>

          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>{# catalog #}

      <div id="part_page" style="display:none;">
        <h2></h2>
        <div class="row">
          <div class="col"><img></div>
          <div class="col-3">
            <h4>Categories:</h4>
            <ul class="list-groups"></ul>
            <h4>Files:</h4>
            <ul class="list-groups">
              <li class="list-group-item"><a type="stl">STL</a></li>
              <li class="list-group-item"><a type="dat">LDraw</a></li>
            </ul>
          </div>
        </div>
          File name: <b prop="file"></b>
        <p></p>
      </div>

      <div class="footer">{# creating space for real footer #}</div>
    </div>{# /container #}
    <div class="container footer">
      <center><small>
          Licence: <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.cs">CC BY-NC-SA 4.0</a>
          &nbsp;
          <a href="https://www.instagram.com/bitbeam_cc/" title="Instagram">
            <img class="social" src="/img/instagram-brands-solid.svg"></a>
          &copy; 2024 Ondřej Tůma.
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="mcbig@zeropage.cz" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_CZ/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </small></center>
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/index.js"></script>
    <script src="/js/catalog.js"></script>
    <script src="/js/part.js"></script>
    <script src="/js/page.js"></script>
  </body>
</html>
