html, body {
  height: 100%;
}
body {
  font-size: 18px;
  padding-top: 80px;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.footer {
  height: 60px;
}
.footer .social {
  height: 32px;
  vertical-align: middle;
  padding-right: 8px;
}

.sidenav {
  min-width: 130px;
}

nav[prop=categories] a {
  font-variant: small-caps;
  min-width: 7em;
}

div[prop=parts] .card {
  width: 306px;
  height: 320px;
  float: left;
}
div[prop=parts] img {
  width: 256px;
  margin: auto;
}

redoc {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

blockquote {
  padding: 1em;
}
